<div class="container">
    <div class="card border-primary mb-3">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title negrita col-11">Acerca De</h5>
            </div>
            <div class="row">
                <div *ngFor="let acerca of acerca">
                    <div class="col-md-1 ms-auto">
                        <a routerLink="/update-acercade/{{acerca.id}}"><i  class="fa fa-pencil mx-3" type="button"></i></a>
                        <i class="fa fa-xmark"></i>
                    </div>
                    <p class="card-text col-md-8">{{acerca.acercaDe}}</p>
                </div>
            </div>
        </div>
    </div>
</div>