<div class="container">

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title negrita">Proyectos</h5>
            <div *ngFor="let proyecto of proyectos">
                <h6>{{proyecto.nombre}} - {{proyecto.fecha}}</h6>
                
                <p>{{proyecto.descripcion}} </p>
                


                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner" id="marco">
                      <div class="carousel-item active">
                        <img src="../assets/img-portfolio/PortfolioNombre.JPG" class="d-block w-100" alt="imagen Portfolio Nombre">
                      </div>
                      <div class="carousel-item">
                        <img src="../assets/img-portfolio/PortfolioSkills.JPG" class="d-block w-100" alt="imagen Portfolio Skills">
                      </div>
                      <div class="carousel-item">
                        <img src="../assets/img-portfolio/PortfolioE&E.JPG" class="d-block w-100" alt="imagen Portfolio Experiencia y Educacion">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>




            </div>
        </div>
    </div>
</div>