<div class="container">
  <div class="card border-primary mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand"
          href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
          target="_blank">
          <img id="logoAp" src="../assets/img/logo-ap2.JPG" alt="Logo Argentina Programa">
          #YoProgramo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div>

          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="https://github.com/patriciagthb" target="_blank"><i
                    class="fa-brands fa-github fa-4x text-primary"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://twitter.com/atyclblady" target="_blank"><i
                    class="fa-brands fa-twitter-square fa-4x text-primary"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://www.youtube.com/channel/UCjBiEQl68ct8kHJLXdRvTkA" target="_blank" class=><i
                    class="fa-brands fa-youtube fa-4x text-primary"></i></a>
              </li>
            </ul>
            <form>
              <button type="submit" class="btn btn-outline-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="card border-primary mb-3">
    <img class="img-fluid" src="../assets/img/banner3.jpg" alt="banner ceros y unos">

    <div class="container">

      <div class="card-body">
        <ul>
          <li *ngFor="let portfolio of miPortfolio">
        <div>
          <img id="f-perfil" class="img-fluid" [src]="portfolio.fotoperfil" alt="foto de perfil">
          <!--<i class="fa fa-pencil "></i>-->
        </div>

        <div class="col-md-1 ms-auto">
          <a routerLink="/update-encabezado/{{portfolio.id}}"><i class="fa fa-pencil mx-3"
                  type="button"></i></a>

      </div>

        <div class="d-flex">
          <div class="centrar p-2">
            <h3 card-title>{{portfolio.nombre}}</h3>

            <p class="card-text">{{portfolio.titulo}}</p>
            <p class="card-text">{{portfolio.ubicacion}}</p>
          </div>

        </div>
      </li>
      </ul>
      </div>
    </div>
  </div>
</div>