#f-perfil{
    border-radius: 50%;
    margin-top: -8%;
    width: 200px;
    border:solid #8E44AD;
    border-width: thin;
}
.centrar{
    margin-left: 20px;
}
h3{
    font-family: 'Merriweather', serif;
}
