<div class="container">

    <div class="card mb-3">

        <div class="card-body">
            <h5 class="card-title negrita">Educación</h5>
            <ul>

                <div class="col-md-1 ms-auto">
                    <a routerLink="/add-educacion/" *ngIf="ulogged!=''"><i class="fa fa-plus mx-3"></i></a>
                </div>
                <br>

                <li *ngFor="let educacion of educacionList">
                    <div class="col-md-1 ms-auto">
                        <a routerLink="/update-educacion/{{educacion.id}}" *ngIf="ulogged!=''"><i class="fa fa-pencil mx-3"
                                type="button"></i></a>
                        <i class="fa-regular fa-trash-can" type="button" (click)="deleteEduc(educacion.id)" *ngIf="ulogged!=''"></i>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-lg-1 col-sm-12 align-self-center">
                                <img [src]="educacion.logo" alt="">
                            </div>
                            <div class="card-text col-lg-11 col-sm12">
                                <h6>{{educacion.institucion}}</h6>
                                <p>{{educacion.titulo}}</p>
                                <p>{{educacion.desde}} - {{educacion.hasta}}</p>
                                <p>{{educacion.ubicacion}}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>




        <div class="card-body">
            <h5 class="card-title negrita">Experiencia</h5>
            <ul>
                <div class="col-md-1 ms-auto">
                    <a routerLink="/add-experiencia/" *ngIf="ulogged!=''"><i class="fa fa-plus mx-3"></i></a>
                </div>
                <br>
                <li *ngFor="let experiencia of experienciaList">
                    <div class="col-md-1 ms-auto">
                        <a routerLink="/update-experiencia/{{experiencia.id}}" *ngIf="ulogged!=''"><i class="fa fa-pencil mx-3"
                                type="button"></i></a>
                        <i class="fa-regular fa-trash-can" type="button" (click)="deleteExp(experiencia.id)" *ngIf="ulogged!=''"></i>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-lg-1 col-sm-12 align-self-center">
                                <img [src]="experiencia.logo" alt="">
                            </div>
                            <div class="card-text col-lg-11 col-sm-12">
                                <h6>{{experiencia.empresa}}</h6>
                                <p>{{experiencia.puesto}}</p>
                                <p>{{experiencia.desde}} - {{ experiencia.hasta}}</p>
                                <p>{{experiencia.ubicacion}}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

