<div class="container">

    <div class="card border-primary mb-3">

        <div class="card-body">
            <h5 class="card-title negrita">Educación</h5>
            <ul>

                <div class="col-md-1 ms-auto">
                    <a routerLink="/add-educacion/"><i class="fa fa-plus mx-3"></i></a>
                </div>
                <br>

                <li *ngFor="let educacion of educacionList">
                    <div class="col-md-1 ms-auto">
                        <a routerLink="/update-educacion/{{educacion.id}}"><i class="fa fa-pencil mx-3"
                                type="button"></i></a>
                        <i class="fa fa-xmark"></i>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-1 align-self-center">
                                <img [src]="educacion.logo" alt="">
                            </div>
                            <div class="card-text col-11">
                                <h6>{{educacion.institucion}}</h6>
                                <p>{{educacion.titulo}}</p>
                                <p>{{educacion.desde}} - {{educacion.hasta}}</p>
                                <p>{{educacion.ubicacion}}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>




        <div class="card-body">
            <h5 class="card-title negrita">Experiencia</h5>
            <ul>
                <div class="col-md-1 ms-auto">
                    <a routerLink="/add-experiencia/"><i class="fa fa-plus mx-3"></i></a>
                </div>
                <br>
                <li *ngFor="let experiencia of experienciaList">
                    <div class="col-md-1 ms-auto">
                        <a routerLink="/update-experiencia/{{experiencia.id}}"><i class="fa fa-pencil mx-3"
                                type="button"></i></a>
                        <i class="fa fa-xmark"></i>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-1 align-self-center">
                                <img [src]="experiencia.logo" alt="">
                            </div>
                            <div class="card-text col-11">
                                <h6>{{experiencia.empresa}}</h6>
                                <p>{{experiencia.puesto}}</p>
                                <p>{{experiencia.desde}} - {{ experiencia.hasta}}</p>
                                <p>{{experiencia.ubicacion}}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>